<p id="notice"><%= notice %></p>

<p>
  <strong>Group:</strong>
  <%= @group_message.group_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @group_message.user_id %>
</p>

<p>
  <strong>Content:</strong>
  <%= @group_message.content %>
</p>

<p>
  <strong>Sent at:</strong>
  <%= @group_message.sent_at %>
</p>

<%= link_to 'Edit', edit_group_message_path(@group_message) %> |
<%= link_to 'Back', group_messages_path %>
