<div class="card mb-2">
  <div class="card-header">
    <div class="row">
      <p class="col-6"><%= board.user.is_active ? "#{board.user.username}より" : "退会済です" %></p>
      <p class="col-6"><%= board.created_at.strftime("%Y年%m月%d日 %H時%M分") %></p>
    </div>
  </div>
  
  <div style="display: flex; justify-content: space-around;">
      <div class="divst-group divst-group-flush">
        <div class="divst-group-item">
          <%= board.title %>
        </div>
        
        <div class="divst-group-item">
          <%= board.description %>
        </div>
        
        <div class="divst-group-item">
          <% board.tags.each do |tag| %>
           <%= link_to "#{tag.name} ( 投稿: #{tag.boards.count} )", public_tag_path(tag) %>
          <% end %> 
        </div>  
        
        <div class="divst-group-item">
          <% if board.written_by?(current_user)%>
              <%= link_to "詳細", public_group_board_path(board.group_id, board.id), class: "btn btn-primary" %>
            <% elsif admin_signed_in? %>
              <%= link_to "削除", admin_group_board_path(group_id: board.group.id, id: board.id), method: :delete, class:"btn btn-danger" %>
          <% end %>
        </div>
      </div>
  </div>
</div>