<%= search_form_for @q do |f| %>
  <div class="field">
    <%= f.label :title_eq, "タイトル（完全一致）" %>
    <%= f.search_field :title_eq %>
  </div>
  <div class="field">
    <%= f.label :title_start, "タイトル（前方一致）" %>
    <%= f.search_field :title_start %>
  </div>
  <div class="field">
    <%= f.label :title_end, "タイトル（後方一致）" %>
    <%= f.search_field :title_end %>
  </div>
  <div class="field">
    <%= f.label :title_cont, "タイトル（部分一致）" %>
    <%= f.search_field :title_cont %>
  </div>
  <div class="field">
    <%= f.label :description_eq, "説明（完全一致）" %>
    <%= f.search_field :description_eq %>
  </div>
  <div class="field">
    <%= f.label :description_start, "説明（前方一致）" %>
    <%= f.search_field :description_start %>
  </div>
  <div class="field">
    <%= f.label :description_end, "説明（後方一致）" %>
    <%= f.search_field :description_end %>
  </div>
  <div class="field">
    <%= f.label :description_cont, "説明（部分一致）" %>
    <%= f.search_field :description_cont %>
  </div>
  <div class="actions">
    <%= f.submit "検索" %>
  </div>
<% end %>
