<div class="container mt-5">
  <%= render 'layouts/error_messages', model: @board %>
  <%= render 'layouts/flash' %>
  <h4><%= @group.name %>への投稿はこちら！</h4>
  <% unless current_user.email == "guest@example.com" %>
  <%= form_with(model: @board, url: public_group_boards_path(@group), local: true) do |form| %>
      <div><%= form.label :title, "タイトル" %></div>
      <div><%= form.text_area :title, size: "10x5", class: "form-control" %></div>
      <div><%= form.label :description, "内容" %></div>
      <div> <%= form.text_area :description, size: "30x10", class: 'form-control' %></div>
      <div><%= form.label :tags, 'タグ' %></div>
      <%# Edit用に@board.tags.pluck(:name)でタグの配列を取得 %>
      <div><%= form.text_field :tags, value: @board.tags.pluck(:name) %><br>
      <small>スペースで区切ることで複数指定できます。</small><br>
      </div>
      <div> <%= form.submit "投稿", class:"btn btn-success mt-2" %></div>
  <% end %>
   <% else %>
    <p>ゲストユーザーは投稿できません。</p>
  <% end %>
  <div class="row">
    <div class="col-md-8 offset-md-2">
        <%= form_with url: public_group_boards_path(@group), method: :get do |f| %>
          <div class="row">
            <div class="col-sm-9 mb-2">
              <%= f.search_field :keyword, class: "form-control" %>
            </div>
            <div class="col-sm-3">
              <%= f.submit "search", class: "btn btn-primary btn-block" %>
              <small>タイトル,もしくは内容を検索。</small>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  
  <% if params[:keyword].present? %>
    <% if @boards.present? %>
      <% @boards.each do |board| %>
        <%= render 'public/boards/board', board: board %>
      <% end %>
    <% else %>
      <p>検索結果はありません</p>
    <% end %>
  <% end %>
  
  <h3 class="mt-5 mb-3 text-center"><%= @group.name %>の投稿一覧</h3>
  
  <p><%= render 'layouts/error_messages', model: @comment %></p>
  
  <% @boards.each do |board| %>
    <%= render 'public/boards/board', board: board %>
  
  <div class="list-group-item">
      <%= render "public/comments/form", board: board, comment: Comment.new %>
  </div> 
      <%= render "public/comments/index", board: board %>
  <% end %>