<div class="container mt-5">
 <%= render 'layouts/error_messages', model: @board %>
  <h4><%= @group.name %>への投稿はこちら！</h4>
  
  <%= form_with(model: @board, url: public_group_boards_path(@group), local: true) do |form| %>
      <div><%= form.label :title, "タイトル" %></div>
      <div><%= form.text_area :title, size: "50x5", class: "form-control" %></div>
      <div><%= form.label :description, "内容" %></div>
      <div> <%= form.text_area :description, size: "100x10", class: 'form-control' %></div>
      <div> <%= form.submit "投稿", class:"btn btn-success mt-2" %></div>
  <% end %>

  <h3 class="mt-5 mb-3 text-center"><%= @group.name %>の投稿一覧</h3>
  
  <% @boards.each do |board| %>
    <div class="card">
      <div class="card-header">
        <div class="row">
          <p class="col-6"><%= board.user.username %>より：</p>
          <p class="col-6"><%= board.created_at.strftime("%Y年%m月%d日 %H時%M分") %></p>
        </div>
      </div>
      <div style="display: flex; justify-content: space-around;">
        <div class="divst-group divst-group-flush">
        <div class="divst-group-item">
          <%= board.title %>
        </div>
        <div class="divst-group-item">
          <%= board.description %>
        </div>
        <div class="divst-group-item">
          <% if current_user.id == board.user_id %> <!-- ログインユーザーが投稿のユーザーと一致しているかチェック -->
            <%= link_to "編集", edit_public_group_board_path(board.group_id, board.id), class: "btn btn-primary" %> 
            <%= link_to "削除", public_group_board_path(board.group_id, board.id), method: :delete, class:"btn btn-danger" %> 
          <% end %>
        </div>
      </div>
        <div>
          <div class="list-group-item">
            <%= render "public/comments/form", board: board, comment: Comment.new %>
          </div>
        </div>
      </div>
      <div style="margin-left: 20px;">
          <%= render "public/comments/index", board: board %>
      </div>
    </div>
  <% end %>
</div>
