<div class="container mt-5 text-center">
  <h2>新規投稿</h2>

  <%= form_with(model: @board, url: public_board_posts_path, local: true, html: { class: "form-horizontal" }) do |form| %>
   <%= render 'layouts/error_messages', model: @group %>

    <div class="form-group row">
      <%= form.label :title, class: "col-sm-2 col-form-label" %>
      <div class="col-sm-10">
        <%= form.text_field :title, class: 'form-control' %>
      </div>
    </div>

    <div class="form-group row">
      <%= form.label :content, class: "col-sm-2 col-form-label" %>
      <div class="col-sm-10">
        <%= form.text_area :content, class: 'form-control', rows: 5 %>
      </div>
    </div>
     <div class="form-group row">
      <%= form.label :tag, 'タグ' %><br>
      <%# Edit用に@board.tags.pluck(:name)でタグの配列を取得 %>
      <%= form.text_field :tag, value: @board.tags.pluck(:name) %><br>
      <small>スペースで区切ることで複数指定できます。</small><br>
    </div>  
    <div class="form-group row">
      <div class="col-sm-10 offset-sm-2">
        <%= form.submit "投稿", class: "btn btn-primary" %>
      </div>
    </div>
  <% end %>
</div>
