<div class="container mt-5">
  <h4><%= @group.name %>への投稿はこちら！</h4>
  
  <%= form_with(model:@board_post,url: public_boards_post_path(@group), local: true) do |form| %>
    <%= form.hidden_field :group_id,value: @group.id %>
    <%= form.hidden_field :user_id, value: current_user.id %>
    <%= form.text_area :description, size: "3x3", class: 'form-control' %>
    <%= form.submit "投稿", class:"btn btn-success mt-2" %>
  <% end %>

  <h3 class="mt-5 mb-3 text-center"><%= @group.name %>の投稿一覧</h3>
  
  <% @board_posts.each do |board_post| %>
    <% if board_post.id != nil %>
    <div class="card">
      <div class="card-header">
        <div class="row">
          <p class="col-2"><%= board_post.user.name %>より：</p>
          <p class="col-5"><%= board_post.created_at.strftime("%Y年%m月%d日 %H時%M分") %></p>
        </div>
      </div>
    </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item"><%= board_post.description %></li>
        <li class="list-group-item">
        <% if current_user.id == board_post.user_id %> <!-- ログインユーザーが投稿のユーザーと一致しているかチェック -->
          <%= link_to "削除", community_post_board_path(post_board.community_id, post_board), method: :delete, class:"btn btn-danger" %> <!-- 削除リクエストを送るためのリンクを作成 -->
        <% end %>
        </li>
      </ul>
    <% end %>
  <% end %>

</div>