<div class="container mt-5 text-center">
  <h2>掲示板</h2>

  <%= link_to "新しいグループを作成", new_public_group_path, class: "btn btn-primary mb-3" %>

  <%= form_with(model: @board_post, url: public_board_posts_path, local: true) do |form| %>
    <%= form.hidden_field :user_id, value: current_user.id %>
    
    <%= form.fields_for :board_post do |board_post_fields| %>
      <div class="form-group">
        <%= board_post_fields.label :content, class: "control-label" %>
        <%= board_post_fields.text_area :content, class: 'form-control', rows: 5 %>
      </div>
    <% end %>

    <% if @board_post.errors.any? %>
      <div id="error_explanation" class="alert alert-danger">
        <h4><%= pluralize(@board_post.errors.count, "error") %> prohibited this board_post from being saved:</h4>
        <ul>
          <% @board_post.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form-group">
      <%= form.submit "投稿", class: "btn btn-primary" %>
    </div>
  <% end %>

  <% @board_posts.each do |board_post| %>
    <div class="card">
      <div class="card-header">
        <div class="row">
          <p class="col-2"><%= board_post.user.username %>より：</p>
          <p class="col-5"><%= board_post.created_at.strftime("%Y年%m月%d日 %H時%M分") %></p>
        </div>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item"><%= board_post.content %></li>
        <li class="list-group-item">
          <% if current_user.id == board_post.user_id %>
            <%= link_to "削除", public_board_post_path(board_post), method: :delete, class: "btn btn-danger" %>
          <% end %>
        </li>
      </ul>
    </div>
  <% end %>
</div>


