<%= form_with(model: admin) do |form| %>
  <% if admin.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(admin.errors.count, "error") %> prohibited this admin from being saved:</h2>

      <ul>
        <% admin.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :admin_username %>
    <%= form.text_field :admin_username %>
  </div>

  <div class="field">
    <%= form.label :admin_password %>
    <%= form.text_field :admin_password %>
  </div>

  <div class="field">
    <%= form.label :admin_email %>
    <%= form.text_field :admin_email %>
  </div>

  <div class="field">
    <%= form.label :admin_created_at %>
    <%= form.datetime_select :admin_created_at %>
  </div>

  <div class="field">
    <%= form.label :admin_updated_at %>
    <%= form.datetime_select :admin_updated_at %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
