<p id="notice"><%= notice %></p>

<p>
  <strong>Admin username:</strong>
  <%= @admin.admin_username %>
</p>

<p>
  <strong>Admin password:</strong>
  <%= @admin.admin_password %>
</p>

<p>
  <strong>Admin email:</strong>
  <%= @admin.admin_email %>
</p>

<p>
  <strong>Admin created at:</strong>
  <%= @admin.admin_created_at %>
</p>

<p>
  <strong>Admin updated at:</strong>
  <%= @admin.admin_updated_at %>
</p>

<%= link_to 'Edit', edit_admin_path(@admin) %> |
<%= link_to 'Back', admins_path %>
