<div class="container">
    <div class="row">
        <div class="col-xs-6">
            <h2>CHAT ROOM <!--%= @user.username %--></h2>

            <table class="table">
              <thead>
                <tr>
                  <th style="text-align: left; font-size: 20px;"><%= current_user.username %></th>
                  <th style="text-align: right; font-size: 20px;"><%= @user.username %></th>
                </tr>
              </thead>
              <tbody id="messages">
                <% @chats.each do |chat| %>
                  <%= render 'message', chat: chat %>
                <% end %>
              </tbody>
            </table>
           <%= form_with model: @chat, url: public_user_chats_path, local: false do |f| %>
             <div class="arrow_box">
                <%= f.text_field :message %>
              </div>
              <%= f.hidden_field :room_id %>
              <button type="submit" class="btn btn-sm btn-success chat-btn">SEND</button>
            <% end %>
        </div>
    </div>
</div>
