<div class="container">
  <div class="row mt-5">
    <div class="col-12">
      <h2>タグ検索</h2>
      <%= form_with url: public_tags_url, method: :get, class: "row" do |f| %>
        <div class="col-md-8 offset-md-2 mb-2">
          <%= f.search_field :keyword, class: "form-control" %>
        </div>
        <div class="col-md-2">
          <%= f.submit "search", class: "btn btn-primary btn-block" %>
          <small>タグを検索できます</small>
        </div>
      <% end %>
    </div>
  </div>

  <% if params[:keyword].present? %>
    <div class="row mt-4">
      <div class="col-12">
        <h2>タグ検索結果</h2>
        <% if @tags.any? %>
          <ul>
            <% @tags.each do |tag| %>
              <li><%= tag.name %></li>
            <% end %>
          </ul>
        <% else %>
          <p>該当するタグが見つかりませんでした。</p>
        <% end %>
      </div>
    </div>
  <% end %>

  <div class="row mt-4">
    <div class="col-12">
      <h2>Tag List</h2>
    <%= render "public/tags/index", tag: @tag %>
    </div>
  </div>
</div>




