<div class="container">
  <div class="d-flex justify-content-center mb-2">
    <%= render "public/searches/form" %>
  </div>
  

    <%= render "public/searches/index", locals: { users: @records } %>

  <% if @users.present? %>
    <div class="row mt-5">
      <h3>ユーザー一覧</h3>
      <div id="success-message" class="alert alert-success" style="display: none;"></div>
      <table class="table">
        <thead>
          <tr>
            <th class="col-2">ユーザー名</th>
            <th class="col-2">作成日</th>
            <th class="col-2">フォロー数</th>
            <th class="col-2">フォロワー数</th>
            <th class="col-2">操作</th>
          </tr>
        </thead>
        <tbody>
          <% @users.each do |user| %>
            <tr>
              <td><%= user.username %></td>
              <td><%= user.created_at.strftime("%Y/%m/%d") %></td>
              <td><%= user.followings.count %></td>
              <td><%= user.followers.count %></td>
              <td id="follow-form-<%= user.id %>">
                <%= render "public/relationships/btn", user: user %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <%= paginate @users %>
  <% end %>
</div>

