<header>
  <nav class="navbar navbar-expand-lg navbar-custom">
    <div class="container">
      <%= link_to "Transconect(トランスコネクト）", root_path, class: "navbar-brand" %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
     <span class="navbar-toggler-icon"></span>
    </button>
      <% if user_signed_in? %>
          <span class="text-black mr-12"><%= current_user.username %> さまようこそ</span>
        <% elsif admin_signed_in? %>
          <span class="text-black mr-12">Admin</span>
      <% end %>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <% if admin_signed_in? %>
          <ul class="navbar-nav ml-auto">  
            <li class="nav-item">
              <%= link_to admin_users_path, class: "nav-link text-blue" do %>
                <i class="fa-solid fa-users"></i> 会員一覧
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to admin_comments_path, class: "nav-link text-blue" do %>
                <i class="fa-solid fa-comments"></i> コメント一覧
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to admin_groups_path, class: "nav-link text-blue" do %>
                <i class="fa-solid fa-users"></i> グループ一覧
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to destroy_admin_session_path, method: :delete, class: "nav-link text-blue" do %>
                <i class="fa-solid fa-right-from-bracket"></i> ログアウト
              <% end %>
            </li>
          </ul>
        <% elsif user_signed_in? %>
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <%= link_to about_path, class: "nav-link text-blue" do %>
                <i class="fa-solid fa-link"></i> About
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to public_user_path(current_user), class: "nav-link text-blue" do %>
                <i class="fa-solid fa-house"></i> Profile
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to public_groups_path, class: "nav-link text-blue" do %>
                <i class="fa-solid fa-book-open"></i> テーマ一覧
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to public_users_path, class: "nav-link text-blue" do %>
                <i class="fa-solid fa-users"></i> 会員一覧
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to new_public_contact_path, class: "nav-link text-blue" do %>
                <i class="fa-solid fa-envelope"></i> お問い合わせ
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to destroy_user_session_path, method: :delete, class: "nav-link text-blue" do %>
                <i class="fa-solid fa-right-from-bracket"></i> ログアウト
              <% end %>
            </li>
          </ul>
        <% else %>
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <%= link_to about_path, class: "nav-link text-blue" do %>
                <i class="fa-solid fa-link"></i> About
              <% end %>
            </li>
            <li class="nav-item">  
              <%= link_to new_user_registration_path, class: "nav-link text-blue" do %>
                <i class="fa-solid fa-user-plus"></i> 新規登録
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to new_user_session_path, class: "nav-link text-blue" do %> 
                <i class="fa-solid fa-right-to-bracket"></i> ログイン
              <% end %>
            </li>
          </ul>
          <%= link_to "ゲストログイン（閲覧用）", users_guest_sign_in_path, class: "btn btn-secondary btn-sm mb-3 sign_in", method: :post %>
        <% end %>
      </div>
    </div>
  </nav>
</header>

